.container {
    width: 60%;
    margin: auto;
    border: 2px groove black;
    border-bottom: none;
}

.img1 {
    width: 65%;
    height: 100%;
}

.img2 {
    width: 35%;
    height: 100%;
}

.row1 {
    padding: 8px 8px 0px 8px
}

td {
    border-right: 1px white;
    height: 50px;
    text-align: center;
}

table {
    width: 100%;
}